.bg-images:before {
  content: "";
  position: absolute;
  left: 0;
  background: url("./images/home-left.png") no-repeat center right;
  height: 761px;
  width: 213px;
  display: block;
}
@media (max-width: 1023px) {
  .bg-images:before {
    display: none;
  }
}

.bg-circle-1:before {
  content: "";
  position: absolute;
  right: 0;
  background: url("./images/circle-1.svg") center left no-repeat;
  height: 479px;
  width: 230px;
  margin-top: -8%;
}
@media (max-width: 1023px) {
  .bg-circle-1:before {
    display: none;
  }
}

.footer {
  position: relative;
}

.circle-icon-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .circle-icon-2 {
    display: none;
  }
}

.header__lang {
  display: flex;
  align-items: center;
  position: relative;
}
.header__lng {
  margin-left: 55px;
}
@media (max-width: 1024px) {
  .header__lng {
    margin-left: 20px;
  }
}
.header__lng:hover .header__list {
  opacity: 1;
  visibility: visible;
}
.header__list {
  position: absolute;
  top: 70%;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
}

.current-lang {
  display: flex;
  position: relative;
  align-items: center;
}
.current-lang img:last-child {
  margin-left: 8px;
}

.mentoria__circle-1 {
  position: relative;
}
.mentoria__circle-1:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 20%;
  background: #F7981A;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
@media (max-width: 920px) {
  .mentoria__circle-1:before {
    width: 27px;
    height: 27px;
    top: 88%;
  }
}
.mentoria__circle-1:after {
  content: "";
  position: absolute;
  right: 20%;
  bottom: -20%;
  background: #0A17B7;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
@media (max-width: 920px) {
  .mentoria__circle-1:after {
    width: 16px;
    height: 16px;
    top: 105%;
    bottom: auto;
    right: 45px;
  }
}
.mentoria__circle-2 {
  position: relative;
}
.mentoria__circle-2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  background: #F2CB48;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
@media (max-width: 920px) {
  .mentoria__circle-2:after {
    width: 32px;
    height: 32px;
    top: 114%;
    left: auto;
    right: 40px;
  }
}

.city-page__quote {
  padding-bottom: 15px !important;
  margin: 0;
  clear: both;
}
@media (max-width: 768px) {
  .city-page__quote {
    display: block !important;
  }
}

.stacks:nth-child(2) {
  border: 1px solid #F7981A;
}
.stacks:nth-child(3) {
  border: 1px solid #0A17B7;
}

@media (min-width: 1024px) {
  .directors > div {
    position: relative;
  }
  .directors > div:nth-child(1):before {
    content: "";
    position: absolute;
    background: #F2CB48;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    left: -41px;
    top: 58%;
  }
  .directors > div:nth-child(1):after {
    content: "";
    position: absolute;
    background: url("./images/circles-1.svg") center center/cover no-repeat;
    width: 28px;
    height: 46px;
    right: -22px;
    top: 65%;
  }
  .directors > div:nth-child(2):before {
    content: "";
    position: absolute;
    background: #F2CB48;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    left: -21px;
    top: 53%;
  }
  .directors > div:nth-child(3):before {
    content: "";
    position: absolute;
    background: url("./images/c-3.svg") center center/cover no-repeat;
    width: 38px;
    height: 33px;
    display: block;
    right: 0;
    top: 53%;
  }
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  cursor: pointer;
}

/*# sourceMappingURL=Main.css.map */
