$laptop: 1280px;
$tablet: 1024px;
$mobile: 768px;

.projects {
  width: 100%;
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
  }
  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 39px;
    line-height: 58px;
    font-family: 'Monsterrat', sans-serif;
    margin: 0 0 80px;
    @media (max-width: $mobile) {
      margin-bottom: 64px;
      font-weight: 600;
      font-size: 34px;
      line-height: 50px;
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    @media (max-width: $tablet) {
      min-width: 0 !important;
    }
    @media (max-width: $mobile) {
      margin: 0 0 32px !important;
    }
    img {
      display: flex;
      @media (max-width: $mobile) {
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
      }
    }
  }
  &__img-fw {
    @media (max-width: $mobile) {
      margin: 0 -15px 32px !important;
    }
    img {
      @media (max-width: $mobile) {
        max-width: 100%;
      }
    }
  }
  &__line {
    position: absolute;
  }
  &__info {
    position: relative;
    @media (max-width: $tablet) {
      border-radius: 50px !important;
    }
    @media (max-width: $mobile) {
      padding: 23px !important;
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      margin: 0 !important;
    }
  }
  &__num {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #F2CB48;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 31px;
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    @media (max-width: $mobile) {
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
  }
  &__line {
    @media (max-width: $tablet) {
      display: none !important;
    }
  }
  &__item {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $mobile) {
      display: block;
      font-size: 14px;
      line-height: 22px;
      margin: 0 !important;
      padding: 0 !important;
      &:not(:last-child) {
        margin-bottom: 56px !important;
      }
    }
    &-1 {
      margin-bottom: -56px;
      @media (max-width: $tablet) {
        margin-bottom: 22px;
      }
      .projects__img {
        min-width: 490px;
        margin-left: 15px;
        margin-right: -73px;
        @media (max-width: $tablet) {
          min-width: 0;
          margin-left: 0;
        }
      }
      .projects__info {
        border: 1px solid #0A17B7;
        border-radius: 150px;
        padding: 39px 86px 29px 142px;
        max-width: 60.6%;
        margin-top: -12px;
        @media (max-width: $tablet) {
          padding: 39px 38px 29px 94px;
        }
      }
      .projects__num {
        top: -26px;
        right: -11px;
        @media (max-width: $mobile) {
          top: -30px;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .projects__line {
        right: 38px;
        top: 39%;
        @media (max-width: $laptop) {
          display: none;
        }
      }
    }
    &-2 {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: -9px;
      .projects__img {
        min-width: 490px;
      }
      .projects__info {
        border: 2px solid #F7981A;
        border-radius: 150px;
        padding: 22px 90px 21px 116px;
        max-width: 56.6%;
        margin-right: -39px;
        margin-top: -36px;
        @media (max-width: $mobile) {
          padding: 22px 59px 21px 60px;
        }
      }
      .projects__num {
        top: 10px;
        left: -27px;
        background: #0A17B7;
        color: #fff;
        @media (max-width: $mobile) {
          left: auto;
          right: 0;
          top: -30px;
        }
      }
      .projects__line {
        left: 39%;
        top: 64%;
      }
    }
    &-3 {
      justify-content: flex-end;
      padding-right: 65px;
      margin-bottom: 36px;
      .projects__info {
        padding: 46px 121px 38px 107px;
        border: 1px solid #0A17B7;
        border-radius: 150px;
        max-width: 64%;
        margin-left: -86px;
        margin-top: 23px;
        &:before {
          content: '';
          position: absolute;
          width: calc(100% + 36px);
          height: calc(100% - 41px);
          left: 0;
          top: 21px;
          border: 2px solid #F2CB48;
          border-radius: 150px;
          @media (max-width: $tablet) {
            display: none;
          }
        }
        &:after {
          @media (max-width: $mobile) {
            content: '';
            position: absolute;
            width: calc(100% + 12px);
            height: 100%;
            border: 1px solid #F2CB48;
            border-radius: 50px;
            top: 10px;
            left: -4px;
          }
        }
      }
      .projects__num {
        top: -51px;
        background: #F7981A;
        @media (max-width: $mobile) {
          left: 50px;
          top: -40px;
        }
      }
      .project__img-1 {
        position: absolute;
        bottom: -24%;
        right: -23px;
        @media (max-width: 1340px) {
          right: 0;
        }
        @media (max-width: $mobile) {
          display: none;
        }
      }
      .projects__line {
        left: 3.5%;
        top: 32%;
      }
    }
    &-4 {
      margin-bottom: -120px;
      @media (max-width: $tablet) {
        margin-bottom: 0;
      }
      .projects__img {
        margin-left: -14px;
        margin-right: -80px;
      }
      .projects__info {
        padding: 51px 74px 33px 155px;
        border: 1px solid #0A17B7;
        border-radius: 150px;
        max-width: 60.7%;
        @media (max-width: $tablet) {
          padding: 51px 62px 33px 118px;
        }
      }
      .projects__num {
        top: -29px;
        right: 57px;
        @media (max-width: $mobile) {
          right: auto;
          left: 40px;
          top: -38px;
        }
      }
    }
    &-5 {
      flex-direction: row-reverse;
      padding-right: 110px;
      .projects__img {
        margin-left: -158px;
      }
      .projects__info {
        padding: 43px 150px 65px 55px;
        border: 2px solid #F2CB48;
        border-radius: 150px;
        max-width: 66.5%;
        margin-top: 27px;
        &:before {
          content: '';
          position: absolute;
          top: -41px;
          left: -10%;
          width: 100%;
          height: 95%;
          border: 1px solid #F7981A;
          border-radius: 150px;
          @media (max-width: $laptop) {
            display: none;
          }
        }
        &:after {
          @media (max-width: $mobile) {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #F7981A;
            border-radius: 50px;
            top: 10px;
            left: -10px;
          }
        }
      }
      .projects__num {
        left: -40px;
        bottom: 18px;
        background: #F7981A;
        @media (max-width: $mobile) {
          right: 20px;
          left: auto;
          top: -42px;
        }
      }
    }
  }
  &__img--mob {
    .mobile {
      display: none;
    }
    @media (max-width: $mobile) {
      img:not(.mobile) {
        display: none;
      }
      img.mobile {
        display: block;
      }
    }
  }
}