$laptop: 1280px;
$tablet: 1023px;
$mobile: 768px;

.about-page {
  .container {
    max-width: 1280px;
    width: 100%;
  }
  &__head {
    //margin-bottom: 236px;
    padding-left: 62px;
    font-family: 'Hind', sans-serif;
    overflow: hidden;
    @media (max-width: $tablet) {
      padding-left: 30px;
    }
    @media (max-width: $mobile) {
      padding: 0 15px;
    }
  }
  &__mobile {
    display: none;
    @media (max-width: $mobile) {
      display: block;
      margin: 80px auto 40px;
    }
  }
  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: $laptop) {
      padding-top: 40px;
    }
    @media (max-width: $mobile) {
      padding-top: 0;
    }
  }
  &__img {
    @media (max-width: $laptop) {
      width: 300px;
      img {
        max-width: 120%;
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__info {
    width: calc(100% - 560px - 115px);
    @media (max-width: $laptop) {
      width: calc(100% - 300px - 50px);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
    p {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 30px;
      @media (max-width: $mobile) {
        margin-bottom: 40px;
      }
      b {
        font-weight: 600;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 39px;
    line-height: 58px;
    margin: 0 0 40px;
    @media (max-width: $mobile) {
      text-align: center;
      font-size: 34px;
      line-height: 50px;
    }
  }
  &__quote {
    position: relative;
    max-width: 1018px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 34px 50px 25px;
    border: 1px solid rgba(#0A17B7,.5);
    border-radius: 100px;
    margin-left: 40px;
    font-family: "Hind", sans-serif;
    @media (max-width: $laptop) {
      max-width: 906px;
    }
    @media (max-width: $tablet) {
      max-width: 606px;
    }
    @media (max-width: $mobile) {
      max-width: 100%;
      width: calc(100% - 8px - 16px);
      margin-left: 8px;
      font-size: 14px;
      line-height: 22px;
      border-radius: 60px;
      padding: 19px 30px 65px 32px;
    }
    @media (max-width: 734px) {
      margin-bottom: 120px;
    }
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 80px);
      height: 100%;
      border: 1px solid #F7981A;
      border-radius: 100px;
      top: 20px;
      left: -40px;
      @media (max-width: $mobile) {
        border-radius: 60px;
        top: -16px;
        left: 8px;
        width: 100%;
      }
    }
    span {
      position: relative;
      z-index: 1;
    }
    div {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        background: #F7981A;
        left: -77px;
        top: -46px;
        @media (max-width: $tablet) {
          display: none;
        }
      }
      img {
        position: absolute;
        right: 125px;
        margin-top: 6px;
        @media (max-width: $tablet) {
          display: none;
        }
      }
    }
  }
}